/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 400;
    color: #4c4b8a;
}
body {
    color: #979797;
    font-size: 15px;
    line-height: 1.8;
}
a:hover { text-decoration: none }

.section-tittle {
    margin-bottom: 130px;
    text-align: center;
}
.features-rap {
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}
img.hand-absolute {
    bottom: 0;
    position: absolute;
    right: -50px;
}
h3 {
    font-size: 22px;
    margin-bottom: 20px;
}
.features-area {
    padding-top: 80px;
}
