/* Base CSS */
@font-face {
  font-family: 'CodeBold';
  src: url('../fonts/code_bold.eot');
  src: url('../fonts/code_bold.eot') format('embedded-opentype'), 
  url('../fonts/code_bold.woff2') format('woff2'), 
  url('../fonts/code_bold.woff') format('woff'), 
  url('../fonts/code_bold.ttf') format('truetype'), 
  url('../fonts/code_bold.svg#codebold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CodeLight';
  src: url('../fonts/code_light.eot');
  src: url('../fonts/code_light.eot') format('embedded-opentype'), 
  url('../fonts/code_light.woff2') format('woff2'), 
  url('../fonts/code_light.woff') format('woff'), 
  url('../fonts/code_light.ttf') format('truetype'), 
  url('../fonts/code_light.svg#codelight') format('svg');
  font-weight: normal;
  font-style: normal;
}
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'CodeLight',sans-serif;
}
body {
    font-family: 'Khula', sans-serif;
}
a:hover { text-decoration: none }

.product-bg-1{background-image: url(../img/product-bg1.png)}
.product-bg-2{background-image: url(../img/product-bg2.png)}
.product-bg-3{background-image: url(../img/product-bg3.png)}
.product-bg-4{background-image: url(../img/product-bg4.png)}
.product-bg-5{background-image: url(../img/product-bg5.png)}
.product-bg-6{background-image: url(../img/product-bg6.png)}
.product-bg-7{background-image: url(../img/product-bg7.png)}
.product-bg-8{background-image: url(../img/product-bg8.png)}
.product-bg-9{background-image: url(../img/product-bg9.png)}
.product-bg-10{background-image: url(../img/product-b10.png)}
.homepage-slider-wrap{background-image: url(../img/hero-bg.jpg)}


.header-top-area a {
  color: #5b4060;
  padding: 10px;
  display: inline-block;
}
.header-top-area {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9;
}
.header-left ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-left ul li {
  display: inline-block;
}
.header-top-area a.menu-trigger {
  display: none;
}
.header-right {
  text-align: right;
}
.search-trigger i.fa {
  padding-left: 10px;
}
.homepage-slider-wrap {
  background-color: #c9d4cf;
  background-size: cover;
  background-position: center;
  height: 100%;
}
html, body {
  height: 100%;
}
.single-slide-item {
  position: relative;
}
.single-slide-item img {
  position: absolute;
  left: 50%;
  width: 600px;
  margin-left: -300px;
  margin-top: -26px;
}
.slide-text-table {
  height: 100%;
  width: 100%;
  display: table;
}
.homepage-slider-wrap div {
  height: 100%;
}
.slide-text-tablecell {
  display: table-cell;
  vertical-align: middle;
  padding-left: 15%;
}
.big-menu {
  margin: 0;
  list-style: none;
  padding: 0;
  overflow: hidden;
}
.big-menu li {
  float: left;
  width: 30%;
  font-size: 50px;
  background: #ecf3eb;
}
.big-menu li a {
  display: block;
  padding: 170px 30px 30px;
  text-align: right;
  color: #5b4060;
  padding-top: 100px;
}
.big-menu li:nth-child(2) a {
  color: #e55288;
}
.big-menu li:nth-child(3) a {
  background-color: #f6f3e6;
}
.big-menu li:nth-child(2) a {
  background-color: #f0e5e5;
}
.big-menu li:nth-child(4) a {
  background-color: #ecf4f5;
}
.big-menu li:nth-child(2),.big-menu li:nth-child(3) {
  width: 20%;
}