/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900,900i');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-family: 'Roboto', sans-serif;

}
a:hover { text-decoration: none }
.single-promo-box{background-image: url(../img/index-01.jpg); background-size: cover;}
.promo-bg-2{background-image: url(../img/index-02.jpg);}
.promo-bg-3{background-image: url(../img/index-03.jpg);}


.section-padding {
    padding: 80px 0;
}
.single-promo-box {
    background-color: #333;
    background-position: center center;
    color: #fff;
    display: block;
    height: 300px;
    position: relative;
}

.promo-content {
    bottom: 0;
    font-size: 20px;
    left: 0;
    padding: 30px;
    position: absolute;
    text-align: center;
    width: 100%;
}
.promo-content h2 {
    font-size: 40px;
    font-weight: 900;
}
.single-promo-box:hover {
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 0 15px #999;
}
.single-promo-box {
    transition: all 0.6s ease 0s;
}
