/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

.section-absolute-bg {background-image: url(../img/bg1.jpg);}
.absolute-bg-2{background-image: url(../img/bg2.jpg);}

.section-padding {
    background: #222931 none repeat scroll 0 0;
    color: #bbbec0;
    font-size: 16px;
    line-height: 1.7;
    position: relative;
    z-index: 1;
    padding: 80px 0;
}
.box-content h2 {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
}
.box-btn {
    background: #333 none repeat scroll 0 0;
    border: 1px solid #ddd;
    color: #fff;
    display: inline-block;
    margin-top: 30px;
    padding: 7px 15px ;
    text-transform: uppercase;
}
.box-content {
    padding-left: 40px;
    position: relative;
    padding-right: 70px;
}
.box-content::before {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 100px;
    left: 0;
    position: absolute;
    top: 0;
    width: 2px;
}
.section-absolute-bg {
    background-color: #000;
    background-size: cover;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    background-position: center; 
    z-index: 2;
}
.absolute-bg-left .section-absolute-bg {
    right: auto;
    left: 0;
}
.absolute-bg-left .box-content{
    padding-right: 0;
    margin-left: 70px;
}


.section-absolute-bg::after {
    background: #333 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.50;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.section-absolute-bg::before {
    background: #222931 none repeat scroll 0 0;
    content: "";
    height: 35px;
    left: 0;
    margin-left: -19px;
    position: absolute;
    top: 120px;
    transform: rotate(45deg);
    width: 35px;
}
.absolute-bg-left .section-absolute-bg::before {
    background: #222931 none repeat scroll 0 0;
    content: "";
    height: 35px;
    left: 677px;
    right: auto;
    position: absolute;
    top: 120px;
    transform: rotate(45deg);
    width: 35px;
}