/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

.slide-bg-1{background-image: url(../img/bg-image.jpg);
    background-position: center;
    background-size: cover;
}

.menu-area {
    background: gainsboro none repeat scroll 0 0;
   
}
.logo {
    font-size: 20px;
    padding-top: 20px;
}
.mainmenu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.mainmenu li {
    display: inline-block;
}
.mainmenu li a {
    color: black;
    font-size: 16px;
    padding: 25px;
    display: block;
}
.mainmenu li a:hover {
    background: white none repeat scroll 0 0;
    color: green;
}


.slide-box-bg {
    background-position: center center;
    background-size: cover;
    height: 500px;
    position: relative;
}
.slide-content {
    border: 1px solid white;
    bottom: 150px;
    padding: 50px;
    position: absolute;
    right: 150px;
}
.slide-content h1 ,h4 {
    color: #fff;
}
.section-padding-2 {
  background: ghostwhite;
}


.education-time {
    border: 1px solid;
    float: left;
    margin-bottom: 20px;
    width: 30%;
     padding: 20px;
    text-align: center;
}
.education-disc {
    border: 1px solid;
    margin-bottom: 20px;
    width: 70%;
    float: right;
    padding: 39px;
}


.about-area {
  
  padding-top: 35px;
}
.about-content h2 {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.about-content {
    font-size: 16px;
}
.education-area {
  
padding-top: 100px;
}
.education-title {
    margin-bottom: 50px;
}
.education-disc h4{
    color: #333;
}


.white-box {
    box-shadow: 0 0 10px #f5f5f5;
    padding: 30px;
}
.white-box h4{
    color: #333;
}


input[type="text"], input[type="email"], input[type="submit"], textarea {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    padding: 15px;
}
.contact-form input, .contact-form textarea {
    margin-bottom: 10px;
    width: 100%;
}
.contact-form input[type="submit"] {
    width: auto;
    margin: 0;
    background: #52b0fb;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
}
 .contact-form textarea{
    height: 140px;
    resize: none;
 }

.color-box {
    background: #52b0fb none repeat scroll 0 0;
    color: #fff;
    padding: 30px;
    min-height: 449px;
}
.color-box a {
    color: #fff;
}
.contact-info {
    margin-bottom: 30px;
    padding-left: 45px;
    position: relative;
}
.contact-info i.fa {
    font-size: 20px;
    left: 0;
    position: absolute;
    top: 0;

}


.skill-area {
   
padding-top: 50px;
}
.skill-tettle {
    margin-bottom: 30px;
}
.gallery-area {
    padding-bottom: 50px;
   
padding-top: 50px;
}
.single-item img {
    border: 1px solid gray;
    height: 338px;
    margin-bottom: 20px;
    width: 260px;
}
.contact-area {
    
padding-bottom:  50px;
}

.footer-area {
  background: gainsboro none repeat scroll 0 0;
  bottom: 0;
  position: fixed;
  width: 100%;
}
.copy {
    padding: 20px;
    text-align: center;
}

.scrollup {
    background: graytext none repeat scroll 0 0;
    bottom: 50px;
    color: #fff;
    font-size: 40px;
    height: 50px;
    position: fixed;
    right: 0;
    text-align: center;
    width: 51px;
}

.mainmenu li a:hover {
    background: white none repeat scroll 0 0;
    color: green;
}

.copy p {
    margin-bottom: 0;
}

.social-icon a {
    border: 1px solid;
    font-size: 10px;
    padding: 10px;
}
.social-icon {
    text-align: center;
}
.is-sticky{
    z-index: 99;
}

.footer-widget-wrapper {
    padding: 20px 0;
}
.footer-widget-wrapper ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer-widget-wrapper li a {
    color: #333;
    display: block;
    padding: 5px;
}
.fa {
    margin-right: 10px;
}

.footer-widget-wrapper h4 {
    color: #333;
}

.copyright {
    background: ghostwhite none repeat scroll 0 0;
    padding: 10px;
}


.site-main {
   
    position: relative;
    z-index: 9;
}
