/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

.section-padding {
    padding: 80px 0;
}
.section-title {
    margin-bottom: 70px;
    text-transform: uppercase;
}
.box-img {
    background: #f1f1f1 none repeat scroll 0 0;
    display: table;
    height: 350px;
    margin-bottom: 30px;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: relative;
    transition: .3s;
}
.box-img-teblecell {
    display: table-cell;
    vertical-align: middle;
}
.box-contant h4 {
    color: #707070;
    font-size: 20px;
}
.box-contant h1 {
    color: #ff5151;
    font-size: 50px;
}

.box-contant {
    text-align: center;
}
.single-box-item {
    margin-bottom: 50px;
    margin-top: 50px;
    position: relative;
    text-align: center;
    z-index: 1;
}
.single-box-item::after {
    background: #3b3b3b none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    opacity: 0;
}
.box-hover-link {
    left: 0;
    position: absolute;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 2;
    transition: .3s
    opacity:0;
    visibility: hidden;
}
.box-hover-link a {
    color: #676767;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    width: 30px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
}

.box-hover-link a.border-link {
    border: 1px solid #ff5151;
    width: 50px;
    margin-right: 20px;
}
.single-box-item:hover::after {
    height: 130%;
    opacity: 1;
    top: -10%;
    bottom: -20px;
}

.single-box-item:hover .box-img {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.single-box-item:hover .box-hover-link {
    opacity: 1;
    top: -10px;
    visibility: visible;
}
