/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

.box-contant{
    background: linear-gradient(white, green);
}
.section-padding{
    background: linear-gradient(white, green,blue);
    padding-bottom: 80px;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
}


.box-contant {
    padding: 50px 60px 80px;
}
.section-title-right {
    text-align: right;
}
.footer-area {
    border-top: 1px solid;
}
.creadit {
    margin-top: 30px;
}
.social-icon {
    margin-top: 30px;
    text-align: right;
}
.social-icon a {
    background: gray none repeat scroll 0 0;
    color: #fff;
    font-size: 20px;
    padding-left: 10px;
}
.section-contant {
    font-size: 16px;
    margin-top: 100px;
    margin-top: 100px;
}
.section-contant h3 {
    font-size: 26px;
}
