/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-weight: 400;
}
a:hover { text-decoration: none }


.section-padding {
    padding: 60px 0;
}
.section-title {
    margin-bottom: 80px;
    text-align: center;
}
.section-title h2 {
    font-size: 40px;
    font-weight: 700;
}
.single-team-item img {
    border: 2px solid #e8e8e8;
}
.team-social-icon {
    background: #5ba939 none repeat scroll 0 0;
    padding: 5px;
    text-align: center;
    position: relative;
    margin-top: -27px;
    margin-left:25px;
    margin-right: 25px;
}
.team-social-icon a {
    border: 1px solid;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 5px;
    text-align: center;
    width: 30px;
}

.single-team-item h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    text-align: center;
}
.single-team-item h4 span {
    color: #5ba939;
    display: block;
    font-size: 60%;
    font-weight: 300;
    margin-top: 5px;
}