/* Base CSS */
@font-face {
  font-family: 'CodeBold';
  src: url('../fonts/code_bold.eot');
  src: url('../fonts/code_bold.eot') format('embedded-opentype'), 
  url('../fonts/code_bold.woff2') format('woff2'), 
  url('../fonts/code_bold.woff') format('woff'), 
  url('../fonts/code_bold.ttf') format('truetype'), 
  url('../fonts/code_bold.svg#codebold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CodeLight';
  src: url('../fonts/code_light.eot');
  src: url('../fonts/code_light.eot') format('embedded-opentype'), 
  url('../fonts/code_light.woff2') format('woff2'), 
  url('../fonts/code_light.woff') format('woff'), 
  url('../fonts/code_light.ttf') format('truetype'), 
  url('../fonts/code_light.svg#codelight') format('svg');
  font-weight: normal;
  font-style: normal;
}
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'CodeLight',sans-serif;
}
body {
    font-family: 'Khula', sans-serif;
}
a:hover { text-decoration: none }

.product-bg-1{background-image: url(../img/product-bg1.png)}
.product-bg-2{background-image: url(../img/product-bg2.png)}
.product-bg-3{background-image: url(../img/product-bg3.png)}
.product-bg-4{background-image: url(../img/product-bg4.png)}
.product-bg-5{background-image: url(../img/product-bg5.png)}
.product-bg-6{background-image: url(../img/product-bg6.png)}
.product-bg-7{background-image: url(../img/product-bg7.png)}
.product-bg-8{background-image: url(../img/product-bg8.png)}
.product-bg-9{background-image: url(../img/product-bg9.png)}
.product-bg-10{background-image: url(../img/product-b10.png)}
.homepage-slider-wrap{background-image: url(../img/hero-bg.jpg)}


.header-top-area a {
  color: #5b4060;
  padding: 10px;
  display: inline-block;
}
.header-top-area {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9;
}
.header-left ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-left ul li {
  display: inline-block;
}
.header-top-area a.menu-trigger {
  display: none;
}
.header-right {
  text-align: right;
}
.search-trigger i.fa {
  padding-left: 10px;
}
.homepage-slider-wrap {
  background-color: #c9d4cf;
  background-size: cover;
  background-position: center;
  height: 100%;
}
html, body {
  height: 100%;
}
.single-slide-item {
  position: relative;
}
.single-slide-item img {
  position: absolute;
  left: 50%;
  width: 600px;
  margin-left: -300px;
  margin-top: -26px;
}
.slide-text-table {
  height: 100%;
  width: 100%;
  display: table;
}
.homepage-slider-wrap div {
  height: 100%;
}
.slide-text-tablecell {
  display: table-cell;
  vertical-align: middle;
  padding-left: 15%;
}
.big-menu {
  margin: 0;
  list-style: none;
  padding: 0;
  overflow: hidden;
}
.big-menu li {
  float: left;
  width: 30%;
  font-size: 50px;
  background: #ecf3eb;
}
.big-menu li a {
  display: block;
  padding: 170px 30px 30px;
  text-align: right;
  color: #5b4060;
  padding-top: 100px;
}
.big-menu li:nth-child(2) a {
  color: #e55288;
}
.big-menu li:nth-child(3) a {
  background-color: #f6f3e6;
}
.big-menu li:nth-child(2) a {
  background-color: #f0e5e5;
}
.big-menu li:nth-child(4) a {
  background-color: #ecf4f5;
}
.big-menu li:nth-child(2),.big-menu li:nth-child(3) {
  width: 20%;
}

.single-product-item:nth-child(4) {
  width: 58%;
}
.single-product-item:nth-child(9) {
  width: 40%;
}

.single-product-item {
  height: 300px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: 2%;
  margin-bottom: 20px;
  width: 18%;
  background-position: center bottom;
  float: left;
}
.products-list {
  margin-left: -2%;
  overflow: hidden;
}

.products-area {
  padding-top: 100px;
}

.single-product-item:nth-child(2) {
  height: 620px;
  width: 78%;
  background-color: #f3eceb;
}
.single-product-item {
  background-color: ;
  background-color: #f7f5f4;
}
.single-product-item:nth-child(3) {
  background-color: #f3f6f6;
}
.single-product-item:nth-child(4) {
  width: 58%;
}
.single-product-item:nth-child(9) {
  width: 38%;
}


.product-top-links a {
  color: #beb5c1;
  padding: 5px;
  display: inline-block;
}
.product-top-links {
  text-align: right;
  padding-right: 5px;
  padding-top: 10px;
}
.products-hover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition:.3s;
}
.products-hover:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: #6db0c6;
  opacity: .7;
  z-index: -1;
}
.products-hover > a {
  left: 50%;
  top: 50%;
  position: absolute;
  color: #fff;
  border: 2px solid;
  padding: 8px 15px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  width: 90px;
  margin-left: -45px;
  text-align: center;
  line-height: 25px;
  margin-top: -40px;
}


.product-bottom-info {
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-transform: uppercase;
  /*! font-size: 20px; */
  /*! font-weight: 700; */
}
.product-bottom-info h4 {
  font-style: karla;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}
.product-bottom-info span.product-price {
  color: #e65200;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 20px;
  font-weight: 700;
}


.product-color-box span {
  border: 1px solid #d9d4da;
  width: 10px;
  height: 10px;
  display: inline-block;
  /*! border-left: 1px solid; */
}
.color-esp {
  background: #908a91;
  width: 1px;
  height: 100%;
  display: inline-block;
}
.product-color-box {
  border-left: 1px solid #908a91;
  padding-left: 10px;
  line-height: 26px;
}
.product-color-box span.product-color-red {
  background: red;
  border: red;
}
.product-color-box span.product-color-green {
  border-color: green;
  background: green;
}
.single-product-item:hover .products-hover  {
  opacity: 1;
}

.load-more-product-btn {
  padding: 30px;
  background: #f9f9f9;
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
}
.product-promotions {
  background: #f5f5f5;
}
.promo-bg {
  background: #f4f0f0;
}
.promo-content {
  padding: 60px 70px 50px 60px;
  padding-left: 30px;
  line-height: 2;
}


.promo-title {
  position: relative;
  color: #e65280;
  margin-bottom: 40px;
}
.promo-title h2 {
  font-size: 36px;
  margin: 0 0 5px;
}
.promo-title span.year-text {
  position: absolute;
  color: #55abc6;
  left: 34%;
  top: 5px;
  opacity: .2;
  font-size: 110px;
  line-height: 139px;
}
.boxed-btn {
  display: inline-block;
  color: #fff;
  background: #55abc4;
  font-weight: 700;
  padding: 5px 27px;
  margin-top: 10px;
}

.brand-images {
  margin-top: 100px;
}
.footer-area {
  background-color: #f4f4f4;
  margin-top: 50px;
}
.footer-area, .footer-area a {
  color: #919191;
}
.footer-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}
.footer-menu li {
  display: inline-block;
  padding-right: 38px;
}
.social-links a {
  font-size: 120%;
  display: inline-block;
  padding-left: 11px;
}
.email-subscribe-form input[type=email] {
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px 20px;
  min-width: 300px;
}
input[type="submit"] {
  background: #e55285;
  padding: 10px 20px;
  border: none;
  color: #fff;
  font-weight: 700;
}
.social-links {
  margin-bottom: 10px;
}
.footer-menu {
  margin-top: 10px;
}