/* Base CSS */

@import "https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,600,600i,700,700i";
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus, input:focus, textarea:focus, button:focus {
    outline: 0 solid;
}
img {
    height: auto;
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0 0 15px;
}
body {
    font-family: "Raleway",sans-serif;
}
a:hover {
    text-decoration: none;
}
.prcing-tables {
    overflow: hidden;
    padding: 30px 20px;
}
.single-pricing-box {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 10px #f3f3f3;
    float: left;
    margin-top: 30px;
    position: relative;
    width: 33.3333%;
    z-index: 1;
}
body {
    color: #737678;
    font-size: 17px;
    line-height: 1.7;
}
.pricing-heading {
    background: #f9f9f9 none repeat scroll 0 0;
    color: #898888;
    font-size: 17px;
    padding: 40px;
}
.pricing-heading h4 {
    color: #888888;
    font-size: 30px;
    font-weight: 400;
}
.pricing-heading h1 {
    color: #333333;
    font-size: 50px;
    font-weight: 400;
}
.single-pricing-box {
}
.pricing-content {
    padding: 60px;
}
.pricing-content ul {
    line-height: 35px;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.pricing-btn {
    border: 1px solid #f91942;
    border-radius: 50px;
    color: #f91942;
    display: inline-block;
    font-weight: 600;
    margin-top: 30px;
    padding: 15px 30px;
}
.active .pricing-heading {
    background: #f91942 none repeat scroll 0 0;
    color: #fff;
    margin-top: 0;
}
.active .pricing-heading h4, .active .pricing-heading h1 {
    color: #fff;
}
.section-padding {
    padding: 100px 0;
}
.single-pricing-box.active {
    margin-left: -0.5%;
    margin-right: -0.5%;
    position: relative;
    width: 34.3333%;
    z-index: 2;
}
.active .pricing-content {
    padding: 73px 60px;
}
.active a.pricing-btn {
    background: #f91942 none repeat scroll 0 0;
    color: #fff;
}
.active .pricing-heading {
    overflow: hidden;
}
.active .pricing-heading::after {
    background: #fff none repeat scroll 0 0;
    color: #f91942;
    content: "Featured";
    font-size: 14px;
    padding: 5px 50px;
    position: absolute;
    right: -40px;
    top: 20px;
    transform: rotate(45deg);
}
.single-pricing-box.active {
    margin-top: 0;
    overflow: hidden;
}
